body, html {
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
}
body, html, #root, #app{
  width:100%;
  height:100%;
  background: #111;
}
iframe {
  width:100%;
  height:100%;
  border:none;
}

#app {
  position: relative;
}

.menu{
  position:absolute;
  bottom:40px;
  right:20px;
  opacity: .8;
  background:#fff;
  border-radius: 10px;
  border-bottom: solid 4px #ccc;
  text-align: center;
}
.menu--left{
  left: 20px;
  right:auto;
}

.menu__item {
  display: block;
  text-align: center;
  font-size:20px;
  padding: 20px 20px 20px 20px;
  cursor:pointer;
}
.menu__item:last-child{
  padding-top:0;
}